body {
  background-image: url('../img/big-graph.png');
  background-repeat: no-repeat; 
  background-position-x: center;
  background-position-y: top;
  padding: 10px;
  margin: 0px;
  text-align: justify;
}

p:first-letter {
  margin-left:15px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2, h3 {
  font-style: italic;
}


#jobbra {
  float: right;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-style: italic;
  font-size: 0.7em;
  border: 1px solid #FF0000;
  color: #FF0000;
  background-color: #fff;
}

#jobbra.img {
  width: 400px;
}

.kerdeskep {
  float: left;
  margin-right: 20px;
  width: 222px;
}

.kepletek {
  font-style: italic;
}

a {
  color:red;
  font-weight: bold;
  text-decoration: none;
}
