* {
  background-color: #E4E4FF;
}

body{
  padding: 5px 10px 0px;
  margin: 0px;
  text-align: justify;
}

p:first-letter {
  margin-left:15px;
}

#elemek:first-letter {
  margin-left:0px;
}

h1{
  text-align: center;
}

h1,h2{
  color:#00008B;
}

img.keplet{
  height: 2em;
  vertical-align: -0.5em;
}

#sorozatkep{
  /* width: 100%; */
  width: 200px;
  float:left;
  margin: 10px;
}

#elemek{
  text-align: center;
  margin: 0 50px 0 50px;
}

.lista li{
  font-style: italic;
}

input[type="text"],input[type="number"] 
{
  width: 30px;
}
